@rendermode InteractiveServer

<h1>Dashboard</h1>

<table>


</table>

<table>
    <tr>
        <td><button @onclick="OrderById">Zoradiť podľa ID</button></td>
        <td><button @onclick="OrderByName">Zoradiť podľa mena</button></td>
    </tr>
    @foreach(var toDoItem in toDoItems)
    {
        <tr>
            <td>@toDoItem.ToDoItemId</td>
            <td>@toDoItem.Name</td>
            <td>@toDoItem.IsCompleted</td>
            <td>@toDoItem.Description</td>
        </tr>
    }
</table>

@code
{
    private List<ToDoItemView> toDoItems = [
        new ToDoItemView() {ToDoItemId = 1, Name = "Urobit ulohu na czechitas.", IsCompleted = false},
        new ToDoItemView() {ToDoItemId = 2, Name = "Urobit nepovinnu ulohu na czechitas.", IsCompleted = false}
    ];

    public class ToDoItemView
    {
        public int ToDoItemId { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public bool IsCompleted { get; set; }
    }

    public void OrderById()
    {
        toDoItems = toDoItems.OrderBy(uloha => uloha.ToDoItemId).ToList();
    }

    public void OrderByName()
    {
        toDoItems = toDoItems.OrderBy(uloha => uloha.Name).ToList();
    }

}
